.marquee {
  font-family: 'OCR A Extended', sans-serif;
}

#float-left {
  margin-right: 20px;
  width: 340px;
  float: left;
}

#float-right {
  margin-left: 20px;
  width: 340px;
  float: right;
}

#float-left,
#float-right {
  object-fit: contain;
  padding-top: 9px;
}

.offset {
  height: 7px;
}

.in-text--link {
  font-style: italic;
}

.navigation-back {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */

  align-items: center;
  grid-column: 1/3;
  grid-row: 6;
  /* width: 100%; */
  margin-top: -56px;
}

.back-icon {
  font-size: 30px;
  /* width: 50%; */
}

.back-logo {
  width: 70%;
  margin: 0;
}

.back-logo > a {
  display: flex;
  justify-content: flex-end;
}

.divider {
  grid-column: 4/-2;
  grid-row: 5;
  height: 0.01rem;
  background: #f26922;
  margin-top: 2rem;
}

footer {
  grid-column: 4/-2;
  grid-row: 6;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: -15px;
  font-size: 16px;
}
