.marquee {
  font-family: 'Vonique 43', sans-serif;
  font-size: 100px;
  margin-bottom: 100px;
}

.light-subtitle {
  font-weight: 200;
}

#outlier {
  object-fit: contain;
  height: 280px;
  width: auto;
  float: right;
  margin-top: -30px;
  margin-right: -100px;
}

img {
  margin-left: -10px;
}

#wide-image {
  object-fit: contain;
  grid-column: 1/-1;
  grid-row: 5;
  margin-top: 60px;
}

.left--8 {
  grid-column: 1 / 4;
  grid-row: 8;

  position: sticky;
  top: 352px;
}

.left--9 {
  grid-column: 1 / 4;
  grid-row: 9;

  position: sticky;
  top: 424px;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.navigation-back {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */

  align-items: center;
  grid-column: 1/3;
  grid-row: 11;
  /* width: 100%; */
  margin-top: -56px;
}

.back-icon {
  font-size: 30px;
  /* width: 50%; */
}

.back-logo {
  width: 70%;
  margin: 0;
}

.back-logo > a {
  display: flex;
  justify-content: flex-end;
}

.divider {
  grid-column: 4/-2;
  grid-row: 10;
  height: 0.01rem;
  background: #f26922;
  margin-top: 2rem;
}

footer {
  grid-column: 4/-2;
  grid-row: 11;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: -15px;
  font-size: 16px;
}
