.marquee {
  font-family: 'Work Sans', sans-serif;
}

.light-subtitle {
  font-weight: 200;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.left--8 {
  grid-column: 1 / 4;
  grid-row: 8;

  position: sticky;
  top: 352px;
}

.left--9 {
  grid-column: 1 / 4;
  grid-row: 9;

  position: sticky;
  top: 424px;
}

.navigation-back {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */

  align-items: center;
  grid-column: 1/3;
  grid-row: 11;
  /* width: 100%; */
  margin-top: -56px;
}

.back-icon {
  font-size: 30px;
  /* width: 50%; */
}

.back-logo {
  width: 70%;
  margin: 0;
}

.back-logo > a {
  display: flex;
  justify-content: flex-end;
}

.divider {
  grid-column: 4/-2;
  grid-row: 10;
  height: 0.01rem;
  background: #f26922;
  margin-top: 2rem;
}

footer {
  grid-column: 4/-2;
  grid-row: 11;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: -15px;
  font-size: 16px;
}
